*{
  margin: 0;
  padding: 0;
}
body{
  background:#212a31;
  font-size
}
table{
  width:100%;
  color: #212a31;
  border: 1px solid #212a31;
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.main-place{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}
.app{
  background-color: #fff;
}
.buttons{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 0;

}
.buttons input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
  transition: .2s;
}
.buttons input:focus{
  color: #fff;
  background: #212a31;
  outline: none;
}
.buttons button{
  outline: none;
  border-radius: 10px;
  background-color: #212a31;
  color: #fff;
  width: 100px;
  height: 40px;
  border: 1px solid #212a31;
  transition: .2s;
  margin-right: 10px;
  margin-left: 10px;
}
.buttons button:hover{
  background-color: #fff;
  color: #212a31;
}
#el0 #element1, #el1 #element2, #el2 #element3, #el3 #element4, #el4 #element5, #el5 #element6,
#el6 #element7, #el7 #element8, #el8 #element9, #el9 #element10{
  background-color: #000;
  color: #000;
}
